<div *ngIf="startup">
	<form>
		<label for="companyName">Company Name: </label>
		<input name="companyName" type="text" [(ngModel)]="startup.companyName" #companyName="ngModel" />
		<br /><br />

		<label for="fundingStage">Funding Stage: </label>
		<select name="fundingStage" [(ngModel)]="startup.fundingStage" #fundingStage="ngModel">
			<option value="Early">Early</option>
			<option value="Pre-Seed">Pre-Seed</option>
			<option value="Seed">Seed</option>
			<option value="Series A">Series A</option>
			<option value="Series B">Series B</option>
			<option value="Series C">Series C</option>
		</select>
		<br /><br />

		<label for="typeOfTech">Type of Tech: </label>
		<select name="typeOfTech" [(ngModel)]="startup.typeOfTech" #typeOfTech="ngModel">
			<option value="Internet of Things">Internet of Things</option>
			<option value="Mobility">Mobility</option>
			<option value="Health Tech">Health Tech</option>
		</select>
		<br /><br />

		<input type="checkbox" name="engaged" [(ngModel)]="startup.engaged" #engaged="ngModel"/> <label for="engaged"> Has this startup been engaged?</label>
		<br /><br />

		<label for="summary">Summary of company: </label>
		<textarea name="summary" [(ngModel)]="startup.summary" #summary="ngModel"></textarea>
		<br /><br />

		<label for="website">Company Website: </label>
		<input type="text" name="website" [(ngModel)]="startup.website" #website="ngModel" />
		<br /><br />

		<label for="potentialApplications">Potential applications for company tech: </label>
		<div *ngFor="let application of startup.potentialApplications; index as i; last as isLast; first as isFirst">
			-> <input type="text" name="application--{{ i }}" [(ngModel)]="application.value" #potentialApplications />
			<button type="button" *ngIf="!isFirst" (click)="removeApplication(i)"> - </button>
			<button type="button" *ngIf="isLast" (click)="addApplication()"> + </button>
		</div>
		<br /><br />

		<label for="securityLevel">Security Level: </label>
		<select name="securityLevel" [(ngModel)]="startup.securityLevel" #securityLevel="ngModel">
			<option value="1">Everyone can see this company</option>
			<option value="2">Only certain people can see this company</option>
			<option value="3">Only I can see this company</option>
		</select>
		<br /><br />

		<label for="comments">Comment: </label><br />
		Title: <input type="text" name="commmentTitle" [(ngModel)]="comment.title" /><br />
		Body: <textarea name="commentBody" [(ngModel)]="comment.body" #commentBody></textarea><br /><br />
		<div *ngFor="let comment of startup.comments">
			<h2>{{ comment.title }}</h2>
			<p>{{ comment.body }}</p>
		</div>
		<br /><br />

		<button *ngIf="formType=='add'" (click)="submitStartup()" type="submit">Submit startup</button>
		<button *ngIf="formType=='update'" (click)="updateStartup()" type="submit">Update startup</button>
	</form>
</div>