<form (onSubmit)="register()">
    <div>
      <label>First Name:</label>
      <input type="text" name="firstName" [(ngModel)]="firstName" />
    </div>
    <div>
      <label>Last Name:</label>
      <input type="text" name="lastName" [(ngModel)]="lastName" />
    </div>
    <div>
      <label>Email:</label>
      <input type="text" name="username" [(ngModel)]="username" />
    </div>
    <div>
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="password" />
    </div>
    <div>
      <button type="submit" (click)="register()">Register</button>
      <a routerLink="/login" routerLinkActive="active">Login</a>
    </div>
  </form>
  