<div class="container" fxLayout="column">
        <mat-toolbar color="primary" class="mat-elevation-z6 mat-elevation-z6 mat-toolbar mat-primary">
            <nav>
                <a class="nav-button" mat-button routerLink="/">Home</a>
                <!-- This fills the remaining space of the current row -->
                <!-- <span class="example-fill-remaining-space"></span> -->
                <a class="nav-button" mat-button routerLink="/startups/add">Add Startup</a>
                <a class="nav-button" mat-button routerLink="/startups">View Startups</a>
            </nav>
        </mat-toolbar>
        <div class="component-outlet">
            <router-outlet></router-outlet>
        </div>
</div>