<div class="container"
    fxLayout="column">
        <md-toolbar color="primary">
            <nav>
                <a class="nav-button" md-button routerLink="/">Home</a>
                <!-- This fills the remaining space of the current row -->
                <!-- <span class="example-fill-remaining-space"></span> -->
                <a class="nav-button" md-button routerLink="/startups/add">Add Startup</a>
                <a class="nav-button" md-button routerLink="/startups">View Startups</a>
            </nav>
        </md-toolbar>
        <div fxFlex fxLayout="column" fxLayoutAlign="center center" class="component-outlet">
            <router-outlet></router-outlet>
        </div>
</div>